/* LAYOUT GRIDS */
.fcp-meta-side * {
    font-size:13px;
}
.fcp-meta-side td,
.fcp-meta-side th {
    display:block;
    width:100%;
    padding:0 0 15px;
}

.fcp-meta-side .fcp-limit-height {
    max-height: 14em;
    overflow:auto;
    padding-left:2px;
}

.fcp-active {
    font-weight:bold;
}
