/* ymyl box layout */

.fcp-ymyl-wrap {
    display:block;
	position:relative;
    overflow:visible;
}
.fcp-ymyl {
	position:relative;
	display:block;
	margin:6px auto 20px;
	padding:20px 25px;
	box-sizing:border-box;
}

.fcp-ymyl-content {
	display:block;
	margin:0;
	padding:0;
}
.fcp-ymyl-content > p {
	font-size:95%;
}
.fcp-ymyl-content > p:first-child {
	margin-top:0;
}
.fcp-ymyl-content > p:last-child {
	margin-bottom:0;
}


/* author boxes layout */
.fcp-authors-wrap {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:stretch;
}
.fcp-author {
    flex-basis:100%;
	margin:20px auto;
	padding:20px 25px;
	box-sizing:border-box;
}

.fcp-author-content {
	display:flex;
	justify-content:flex-start;
	align-items:center;
}

.fcp-author-image {
    min-width:100px;
	flex-basis:25%;
	margin:3px 2.3% 0 0;
	box-sizing:border-box;
    overflow:hidden;
    position:relative;
	line-height:0;
	text-align:center;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.fcp-author-image:before {
    content:'';
    display:block;
    padding-top:100%;
}
.fcp-author-image > img {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
}

.fcp-author-about {
	display:block;
	flex-basis:100%;
	box-sizing:border-box;
}
.fcp-author-image + .fcp-author-about {
    flex-basis:75%;
    padding:0 0 0 2.5%;
}

.fcp-author-title {
	display:block;
    margin-top:0;
    padding-top:0;
	font-size:110%;
	font-weight:bold;
}

.fcp-author-description > p:last-child {
	margin-bottom:0;
}

@media (min-width:771px) {

	.fcp-authors-x2 .fcp-author {
		flex-basis:48%;
        margin-left:0;
        margin-right:0;
	}
	
    .fcp-authors-x2 .fcp-author-content {
		flex-direction:column;
	}
	.fcp-authors-x2 .fcp-author-image,
    .fcp-authors-x2 .fcp-author-image + .fcp-author-about {
        flex-basis:100%;
        padding-left:0;
        padding-right:0;
    }
    .fcp-authors-x2 .fcp-author-image,
    .fcp-authors-x2 .fcp-author-title {
        text-align:center;
    }
    .fcp-authors-x2 .fcp-author-image {
        margin-bottom:20px;
    }
}


@media (max-width:770px) {
	.fcp-author {
		flex-direction:column;
	}
	.fcp-author-content {
		flex-wrap:wrap;
	}
	.fcp-author-image {
		flex-basis:100%;
		margin-bottom:20px;
		padding-right:0;
	}
	.fcp-author-image + .fcp-author-about {
		flex-basis:100%;
		padding-left:0;
	}
	.fcp-author-image,
	.fcp-author-title {
		text-align:center;
        margin-left:auto;
        margin-right:auto;
	}
}


/* custom styling */
.fcp-ymyl {
	border:1px solid #ddd;
    border-width:1px 0;
    padding-left:65px;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 25 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 19.33,24.47 14.72,23.72 10.65,26 7.6,22.46 3.02,21.59 2.95,16.92 0,13.31 2.95,9.69 3.02,5.02 7.6,4.15 10.65,0.61 14.72,2.89 19.33,2.15 20.99,6.51 25,8.9 23.46,13.31 25,17.72 20.99,20.1 Z' fill='%23fff' stroke='%23ccc'/%3E%3Cpath d='M 6.28,14.81 7.93,12.64 11.68,15.65 18.42,7.89 20.48,9.8 12.14,19.54 Z' fill='%23fff' stroke='%23ccc'/%3E%3C/svg%3E%0A");
	background-position:18px 18px;
	background-repeat:no-repeat;
	background-size:28px 28px;
}
@media (max-width:660px) {
	.fcp-ymyl {
		padding-left:25px;
		background-image:none;
	}
}


.fcp-author {
	border:1px solid #ddd;
    border-width:1px 0;
}

.fcp-author-image {
    max-width:200px;
    border-radius:50%;
}

.fcp-author-image + .fcp-author-about {
    border-left:1px solid #ddd;
}

.fcp-authors-wrap:not( .fcp-authors-x2 ) .fcp-author:nth-child(n+2) {
    margin-top:-15px;
    border-top:none;
}

@media (min-width:771px) {
    .fcp-authors-x2 .fcp-author-image + .fcp-author-about {
        border-left:none;
    }
    
    .fcp-authors-x2 .fcp-author:nth-child(n+3) {
        margin-top:-15px;
        border-top:none;
    }
}

@media (max-width:770px) {
    .fcp-author-image + .fcp-author-about {
        border-left:none;
    }
}


